<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[NO]</key>
	<string>emotion_093</string>
	<key>[OK]</key>
	<string>emotion_065</string>
	<key>[下雨]</key>
	<string>emotion_128</string>
	<key>[乒乓球]</key>
	<string>emotion_092</string>
	<key>[乱舞]</key>
	<string>emotion_101</string>
	<key>[云]</key>
	<string>emotion_127</string>
	<key>[亲亲]</key>
	<string>emotion_037</string>
	<key>[便便]</key>
	<string>emotion_016</string>
	<key>[偷笑]</key>
	<string>emotion_004</string>
	<key>[傲慢]</key>
	<string>emotion_032</string>
	<key>[再见]</key>
	<string>emotion_005</string>
	<key>[冷汗]</key>
	<string>emotion_003</string>
	<key>[凋谢]</key>
	<string>emotion_058</string>
	<key>[刀]</key>
	<string>emotion_069</string>
	<key>[加油]</key>
	<string>emotion_043</string>
	<key>[勾引]</key>
	<string>emotion_064</string>
	<key>[卫生纸]</key>
	<string>emotion_138</string>
	<key>[发怒]</key>
	<string>emotion_025</string>
	<key>[发抖]</key>
	<string>emotion_070</string>
	<key>[发财]</key>
	<string>emotion_110</string>
	<key>[可怜]</key>
	<string>emotion_052</string>
	<key>[右哼哼]</key>
	<string>emotion_045</string>
	<key>[右太极]</key>
	<string>emotion_104</string>
	<key>[吐]</key>
	<string>emotion_023</string>
	<key>[吐舌]</key>
	<string>emotion_002</string>
	<key>[吓]</key>
	<string>emotion_044</string>
	<key>[呲牙]</key>
	<string>emotion_001</string>
	<key>[咒骂]</key>
	<string>emotion_082</string>
	<key>[咖啡]</key>
	<string>emotion_067</string>
	<key>[哈欠]</key>
	<string>emotion_088</string>
	<key>[啤酒]</key>
	<string>emotion_062</string>
	<key>[喜]</key>
	<string>emotion_107</string>
	<key>[喝彩]</key>
	<string>emotion_115</string>
	<key>[嘘]</key>
	<string>emotion_012</string>
	<key>[嘴唇]</key>
	<string>emotion_030</string>
	<key>[回头]</key>
	<string>emotion_098</string>
	<key>[困]</key>
	<string>emotion_081</string>
	<key>[坏笑]</key>
	<string>emotion_047</string>
	<key>[大兵]</key>
	<string>emotion_051</string>
	<key>[大哭]</key>
	<string>emotion_010</string>
	<key>[太阳]</key>
	<string>emotion_074</string>
	<key>[奶瓶]</key>
	<string>emotion_119</string>
	<key>[委屈]</key>
	<string>emotion_015</string>
	<key>[害羞]</key>
	<string>emotion_021</string>
	<key>[尴尬]</key>
	<string>emotion_026</string>
	<key>[左哼哼]</key>
	<string>emotion_087</string>
	<key>[左太极]</key>
	<string>emotion_103</string>
	<key>[差劲]</key>
	<string>emotion_071</string>
	<key>[帅]</key>
	<string>emotion_114</string>
	<key>[弱]</key>
	<string>emotion_054</string>
	<key>[强]</key>
	<string>emotion_053</string>
	<key>[得意]</key>
	<string>emotion_022</string>
	<key>[微笑]</key>
	<string>emotion_024</string>
	<key>[心碎]</key>
	<string>emotion_073</string>
	<key>[快哭了]</key>
	<string>emotion_089</string>
	<key>[怄火]</key>
	<string>emotion_095</string>
	<key>[怒]</key>
	<string>emotion_117</string>
	<key>[惊吓]</key>
	<string>emotion_090</string>
	<key>[惊恐]</key>
	<string>emotion_027</string>
	<key>[惊讶]</key>
	<string>emotion_034</string>
	<key>[愉快]</key>
	<string>emotion_019</string>
	<key>[憨笑]</key>
	<string>emotion_038</string>
	<key>[投降]</key>
	<string>emotion_078</string>
	<key>[折磨]</key>
	<string>emotion_083</string>
	<key>[抠鼻]</key>
	<string>emotion_084</string>
	<key>[抱拳]</key>
	<string>emotion_057</string>
	<key>[招财猫]</key>
	<string>emotion_106</string>
	<key>[拥抱]</key>
	<string>emotion_046</string>
	<key>[拳头]</key>
	<string>emotion_072</string>
	<key>[握手]</key>
	<string>emotion_055</string>
	<key>[撇嘴]</key>
	<string>emotion_041</string>
	<key>[擦汗]</key>
	<string>emotion_007</string>
	<key>[敲打]</key>
	<string>emotion_006</string>
	<key>[晕]</key>
	<string>emotion_050</string>
	<key>[月亮]</key>
	<string>emotion_068</string>
	<key>[枪]</key>
	<string>emotion_140</string>
	<key>[棒棒糖]</key>
	<string>emotion_118</string>
	<key>[气球]</key>
	<string>emotion_135</string>
	<key>[汽车]</key>
	<string>emotion_123</string>
	<key>[沙发]</key>
	<string>emotion_137</string>
	<key>[流汗]</key>
	<string>emotion_028</string>
	<key>[流泪]</key>
	<string>emotion_011</string>
	<key>[激动]</key>
	<string>emotion_100</string>
	<key>[火车]</key>
	<string>emotion_125</string>
	<key>[火车头]</key>
	<string>emotion_124</string>
	<key>[火车尾]</key>
	<string>emotion_126</string>
	<key>[灯泡]</key>
	<string>emotion_131</string>
	<key>[灯笼]</key>
	<string>emotion_109</string>
	<key>[炸弹]</key>
	<string>emotion_017</string>
	<key>[熊猫]</key>
	<string>emotion_130</string>
	<key>[爱你]</key>
	<string>emotion_066</string>
	<key>[爱心]</key>
	<string>emotion_029</string>
	<key>[爱情]</key>
	<string>emotion_039</string>
	<key>[猪头]</key>
	<string>emotion_008</string>
	<key>[献吻]</key>
	<string>emotion_102</string>
	<key>[玫瑰]</key>
	<string>emotion_009</string>
	<key>[瓢虫]</key>
	<string>emotion_063</string>
	<key>[疑问]</key>
	<string>emotion_035</string>
	<key>[疯了]</key>
	<string>emotion_014</string>
	<key>[白眼]</key>
	<string>emotion_031</string>
	<key>[瞌睡]</key>
	<string>emotion_036</string>
	<key>[磕头]</key>
	<string>emotion_097</string>
	<key>[礼物]</key>
	<string>emotion_075</string>
	<key>[篮球]</key>
	<string>emotion_091</string>
	<key>[糗大了]</key>
	<string>emotion_086</string>
	<key>[胜利]</key>
	<string>emotion_056</string>
	<key>[色]</key>
	<string>emotion_020</string>
	<key>[药]</key>
	<string>emotion_139</string>
	<key>[菜刀]</key>
	<string>emotion_018</string>
	<key>[蛋糕]</key>
	<string>emotion_060</string>
	<key>[蜡烛]</key>
	<string>emotion_116</string>
	<key>[衰]</key>
	<string>emotion_040</string>
	<key>[西瓜]</key>
	<string>emotion_061</string>
	<key>[购物]</key>
	<string>emotion_112</string>
	<key>[足球]</key>
	<string>emotion_076</string>
	<key>[跳绳]</key>
	<string>emotion_099</string>
	<key>[跳跳]</key>
	<string>emotion_094</string>
	<key>[转圈]</key>
	<string>emotion_096</string>
	<key>[邮件]</key>
	<string>emotion_113</string>
	<key>[鄙视]</key>
	<string>emotion_049</string>
	<key>[酷]</key>
	<string>emotion_013</string>
	<key>[钱]</key>
	<string>emotion_129</string>
	<key>[钻戒]</key>
	<string>emotion_136</string>
	<key>[闪电]</key>
	<string>emotion_079</string>
	<key>[闭嘴]</key>
	<string>emotion_105</string>
	<key>[闹钟]</key>
	<string>emotion_133</string>
	<key>[阴险]</key>
	<string>emotion_042</string>
	<key>[难过]</key>
	<string>emotion_033</string>
	<key>[雨伞]</key>
	<string>emotion_134</string>
	<key>[青蛙]</key>
	<string>emotion_141</string>
	<key>[面条]</key>
	<string>emotion_120</string>
	<key>[鞭炮]</key>
	<string>emotion_108</string>
	<key>[风车]</key>
	<string>emotion_132</string>
	<key>[飞吻]</key>
	<string>emotion_048</string>
	<key>[飞机]</key>
	<string>emotion_122</string>
	<key>[饭]</key>
	<string>emotion_059</string>
	<key>[馋]</key>
	<string>emotion_080</string>
	<key>[香蕉]</key>
	<string>emotion_121</string>
	<key>[骷髅]</key>
	<string>emotion_077</string>
	<key>[麦克风]</key>
	<string>emotion_111</string>
	<key>[鼓掌]</key>
	<string>emotion_085</string>
	<key>[禁]</key>
	<string>emotion_000</string>
</dict>
</plist>
