@charset "utf-8";
/*公共样式 start*/
body,div,h1,p,h2,header,ul,li,dl,dt,dd,ol,nav,input,footer{ margin:0; padding:0;}
body{ color:#000;font-family:"黑体" "微软雅黑" Arial, Helvetica, sans-serif;background:#fff;}
body,html{ height:100%;-webkit-touch-callout: none;-webkit-user-select:none;}
@media screen and (min-width:320px) and (max-width:359px){
	body{font-size:8px;}
	input{font-size:8px;}
}
@media screen and (min-width:360px) and (max-width:384px){
	body{font-size:9.5px;}
	input{font-size:9.5px;}
}
@media screen and (min-width:385px) and (max-width:410px){
	body{font-size:10px;}
	input{font-size:10px;}
}
@media screen and (min-width:411px) and (max-width:479px){
	body{font-size:10px;}
	input{font-size:10px;}
}
@media screen and (min-width:480px) and (max-width:639px){
	body{font-size:14px;}
	input{font-size:14px;}
}
@media screen and (min-width:640px) and (max-width:719px){
	body{font-size:16px;}
	input{font-size:16px;}
}
@media screen and (min-width:720px) and (max-width:799px){
	body{font-size:18px;}
	input{font-size:18px;}
}
@media screen and (min-width:800px){
	body{font-size:19px;}
	input{font-size:19px;}
}
@media only screen and (min-width:1080px) {
	body{font-size:22px;}
	input{font-size:22px;}
}

h1,h2,h3,h4,h5,h6{ margin:0; padding:0;font-size:100%; font-weight:normal;}
ul,li{ list-style:none;}
html{-webkit-text-size-adjust:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
img{border:none;  vertical-align:middle; width:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix{ *zoom:1;}
input{ font-family:Arial, Helvetica, sans-serif;}
a{ text-decoration:none; color:#fff;}
a:hover{ text-decoration:none;}
/*自定义样式*/
.title{
	width: 100%;
	height: 7em;
	background-color: #ffd201;
}
.gold-info{
	width: 100%;
	background-color: #fff;
}
.account-info{
	width: 100%;
	/*height: 4.5em;*/
	background-color: #fff;
	font-size:1.4em;
}
.account-info p {
	line-height: 3em;
	font-size: 1.2em;
}
.money{
	width: 100%;
	height: 4.5em;
	background-color: #fff;
	margin-top: 1em;
	position:relate;
	z-index:99;

}
.cash-btn{
	width: 96%;
	/*height: 4em;*/
	background-color: #ffd201;
	margin: 2em auto 0 auto;
	border-radius: 10em;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.cash-btn p{
	text-align: center;
	color: #4c4c4c;
	font-size: 1.6em;
	line-height:3em;
}
.line{
	width: 96%;
	height: 0.1em;
	background-color: #eeeeee;
	margin-left: 1em;
	position: relative;
	z-index: 99;
}
p{
	/*font-size: 100%;*/
	padding-left: 1em;
	/*padding-top: 1.1em;*/
	/*padding-bottom: 1em;*/
	/*font-weight: bold;*/
	/*color: #4c4c4c;*/
}
.head{
	width: 4.5em;
	height: 4.5em;
	border-radius: 50%;
	overflow: hidden;
	border:0.3em solid #ffffff;
	float: left;
	margin: 1em;
}
.name{
	display:inline-block;
	margin-top: 2em;
}
.name span{
	font-size: 1.4em;
	font-weight: bold;
	
}
.out-btn{
	float: right;
	margin-top: 1em;
	margin-right: 1em;
	color: #ff8310;
}
select{
	width:52%;
	height:3em;
	color:#000;
	font-size:1.4em;
	border:0px solid #000;
	appearance:none;
	-moz-appearance:none; 
	-webkit-appearance:none; 
	background: transparent;
	direction: rtl;

}
select option {
	direction: rtl;
}
.arrow{
	width: 3%;
	height: 3%;
	float: right;
	margin-top: 1.3em;
	margin-right: 2%;
}
.account-info input{
	width: 50%;
	height: 3em;
	/*margin-top: 1%;*/
	/*margin-bottom: 1%;*/
	border-style:none;
	font-size: 1.2em;
	line-height: normal;
	line-height: 22px;
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rect{
	width: 100%;
	height: 4em;
	background-color: #eee;
	/*text-align: center;*/
	line-height: 4em;
}
.rect p {
	color: #f84812;
	font-size: 1.6em;
}
.rule{
	font-size: 1.2em;
	text-align: center;
	margin-top:1.8em;
	color:#ffd200;
}
.verify{
	width: 26%;
	height: 2.4em;
	background-color: #0090ff;
	border-radius: 2em;
	float: right;
	margin-top: 0.6em;
	margin-right: 1em;
}
.verify p{
	color: #ffffff;
	opacity: 0.7;
	font-size: 1em;
	text-align: center;
	line-height: 2.5em;
	margin-right: 0.7em;
}
.fail-prompt{
	width: 100%;
	margin: 0 auto 0 auto;
}
.fail-prompt p{
	color: #f84812;
	text-align: center;
	margin-top: 1em;
	font-size: 1.8em;
	font-weight: bold;
}