@charset "utf-8";
/*公共样式 start*/
body,div,h1,p,h2,header,ul,li,dl,dt,dd,ol,nav,input,footer{ margin:0; padding:0;}
body{ color:#000;font-family:"黑体" "微软雅黑" Arial, Helvetica, sans-serif;background:#fff;}
body,html{ height:100%;-webkit-touch-callout: none;-webkit-user-select:none;}
@media screen and (max-width:479px){
	body{font-size:10px;-webkit-text-size-adjust: none;}
	input{font-size:10px;}
	.top dt img{width: 100%;}
	.top p img{width: 40%;padding-right: 0.5em;}
}
@media screen and (min-width:320px) and (max-width:360px){
	body{font-size:12px;-webkit-text-size-adjust: none;}
	input{font-size:12px;}
}
@media screen and (min-width:360px) and (max-width:480px){
	body{font-size:12px;-webkit-text-size-adjust: none;}
	input{font-size:12px;}
	
@media screen and (min-width:480px) and (max-width:639px){
	body{font-size:15px;-webkit-text-size-adjust: none;}
	input{font-size:15px;}
}
@media screen and (min-width:640px) and (max-width:719px){
	body{font-size:20px;-webkit-text-size-adjust: none;}
	input{font-size:20px;}
}
@media screen and (min-width:720px){
	body{font-size:22.5px;-webkit-text-size-adjust: none;}
	input{font-size:22.5px;}
}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;font-size:100%; font-weight:normal;}
ul,li{ list-style:none;}
html{-webkit-text-size-adjust:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
img{border:none;  vertical-align:middle; width:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix{ *zoom:1;}
input{ font-family:Arial, Helvetica, sans-serif;}
a{ text-decoration:none; color:#fff;}
a:hover{ text-decoration:none;}
/*自定义样式*/
